/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    max-width: 1920px;
}

body {
    background-color:palevioletred;
    background-image: url('../bg.png');
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    justify-content: center;
    align-items: start;
}

img,
picture,
video,
canvas,
svg {
    display: inline-block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

button {
    line-height: 1;
    border: none;
}

button:hover {
    cursor: pointer;
    filter: brightness(120%);
}

button:focus {
    filter: brightness(120%);
}

button:active {
    filter: brightness(90%);
}

/* Header */
header {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgba(225, 0, 80);
    margin: 32px auto;
    border-radius: 16px;
    box-shadow: 0px 4px 4px darkred;
    width: fit-content;
}

h1 {
    text-align: center;
}

.instructions {
    text-align: center;
    font-size: 1.25rem;
}

.score-wrapper {
    display: flex;
    justify-content: center;
    gap: 32px;
}

@media (max-width: 425px) {
    header {
        padding: 32px 16px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    .instructions {
        font-size: 1rem;
    }    

    .score-wrapper {
        gap: 16px;
    }
}

@media (max-width: 768px) {
    header {
        margin: 32px;
    }
}

/* Main */
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background-color: darkorchid;
    padding: 8px;
    border-radius: 8px;
    margin: 16px;
    box-shadow: 0px 4px 4px darkred;

    transition: 0.3s;
    cursor: pointer;
}

.card:focus {
    outline: none;
}

.card:hover,
.card:focus-visible {
    transform: translateY(-10%);
    box-shadow: 0px 16px 16px darkred;
}

.card:active {
    transform: translateY(0%) scale(0.8);
}

.img {
    height: 240px;
    width: 240px;
    background-color: gray;
    object-fit: cover;
}

.loader {
    border: 12px solid lightpink;
    /* Light grey */
    border-top: 12px solid darkorchid;
    /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 0.75s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 1024px) {
    main {
        padding: 0px 64px;
    }
}

/* Footer */
footer {
    margin-top: 32px;
    font-size: 0.75rem;
    color: white;
    text-align: center;
}

footer a {
    font-size: 0.75rem;
    color: darkred;
    text-decoration: underline;
}


